.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-gray-30000 {
    color: floralwhite;
}
.text-orange-12342 {
    color: mediumturquoise;
}
.dark\:hover\:text-gray-100 {
    color: sienna;
}
.text-aqua-123456 {
    color: rebeccapurple;
}
.text-red-666 {
    color: darkred;
}
.text-yellow-30000 {
    color: yellowgreen;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}
.text-blue-798654675 {
    color: cadetblue;
}.text-blue-798654675 {
     color: cadetblue;
 }.text-blue-798654675 {
      color: cadetblue;
  }
.text-blue-798654675 {
    color: cadetblue;
}
.text-black-2 {
    color: lightsteelblue;
}
.text.green-40000 {
    color: springgreen;
}
.text-blue-79864675 {
    color: cadetblue;
}
.text-blue-79654675 {
    color: cadetblue;
}
.text-blue-98654675 {
    color: cadetblue;
}
.text-blue-79865465 {
    color: cadetblue;
}
.text-blue-7986854675 {
    color: cadetblue;
}
.text-blue-794675 {
    color: cadetblue;
}
.text-blue-7986546 {
    color: cadetblue;
}
.text-blue-654675 {
    color: cadetblue;
}
.text-blue-775 {
    color: cadetblue;
}
.text-blue-5675 {
    color: cadetblue;
}
.text-blue-7 {
    color: cadetblue;
}
.text-blue-7986575 {
    color: cadetblue;
}
.text-blue-654675 {
    color: cadetblue;
}
.text-blue-75 {
    color: cadetblue;
}
.text-red-666 {
    color: darkred;
}
.text-red-6666 {
    color: darkred;
}
.text-red-66 {
    color: darkred;
}
.text-red-6626 {
    color: darkred;
}
.text-red-66666 {
    color: darkred;
}
.text-red-6 {
    color: darkred;
}
.text-red-6666767676767676 {
    color: darkred;
}
.text-red-63232323266 {
    color: darkred;
}
